In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv('properatti.csv')

In [3]:
df.head()

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

In [4]:
df.shape

(121220, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121220 entries, 0 to 121219
Data columns (total 26 columns):
Unnamed: 0                    121220 non-null int64
operation                     121220 non-null object
property_type                 121220 non-null object
place_name                    121197 non-null object
place_with_parent_names       121220 non-null object
country_name                  121220 non-null object
state_name                    121220 non-null object
geonames_id                   102503 non-null float64
lat-lon                       69670 non-null object
lat                           69670 non-null float64
lon                           69670 non-null float64
price                         100810 non-null float64
currency                      100809 non-null object
price_aprox_local_currency    100810 non-null float64
price_aprox_usd               100810 non-null float64
surface_total_in_m2           81892 non-null float64
surface_covered_in_m2         101313 non-null float64
price_usd_per_m2              68617 non-null float64
price_per_m2                  87658 non-null float64
floor                         7899 non-null float64
rooms                         47390 non-null float64
expenses                      14262 non-null float64
properati_url                 121220 non-null object
description                   121218 non-null object
title                         121220 non-null object
image_thumbnail               118108 non-null object
dtypes: float64(13), int64(1), object(12)
memory usage: 24.0+ MB

In [6]:
df['place_split'] = df['place_with_parent_names'].apply(lambda x: x.split('|'))
df['pais'] = df['place_split'].apply(lambda x: x[1])
df['provincia'] = df['place_split'].apply(lambda x: x[2])
df['barrio/ciudad'] = df['place_split'].apply(lambda x: x[3])

In [7]:
df[['place_with_parent_names','place_split','pais','provincia','barrio/ciudad']].head()

,place_with_parent_names,place_split,pais,provincia,barrio/ciudad
0,|Argentina|Capital Federal|Mataderos|,"[, Argentina, Capital Federal, Mataderos, ]",Argentina,Capital Federal,Mataderos
1,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,"[, Argentina, Bs.As. G.B.A. Zona Sur, La Plata, ]",Argentina,Bs.As. G.B.A. Zona Sur,La Plata
2,|Argentina|Capital Federal|Mataderos|,"[, Argentina, Capital Federal, Mataderos, ]",Argentina,Capital Federal,Mataderos
3,|Argentina|Capital Federal|Liniers|,"[, Argentina, Capital Federal, Liniers, ]",Argentina,Capital Federal,Liniers
4,|Argentina|Buenos Aires Costa Atlántica|Mar de...,"[, Argentina, Buenos Aires Costa Atlántica, Ma...",Argentina,Buenos Aires Costa Atlántica,Mar del Plata

In [8]:
df['operation'].unique()

array(['sell'], dtype=object)

In [9]:
df['property_type'].unique()

array(['PH', 'apartment', 'house', 'store'], dtype=object)

In [10]:
print(df['country_name'].unique())
print(df['pais'].unique())

['Argentina']
['Argentina']

In [11]:
print(df['state_name'].unique())
print(df['provincia'].unique())
print(df['state_name'].unique() == df['provincia'].unique())

['Capital Federal' 'Bs.As. G.B.A. Zona Sur' 'Buenos Aires Costa Atlántica'
 'Entre Ríos' 'Bs.As. G.B.A. Zona Norte' 'Santa Fe' 'Córdoba'
 'Bs.As. G.B.A. Zona Oeste' 'Misiones' 'Buenos Aires Interior' 'Salta'
 'Neuquén' 'Río Negro' 'San Luis' 'Mendoza' 'Corrientes' 'Chubut'
 'Tucumán' 'La Pampa' 'Chaco' 'San Juan' 'Santa Cruz' 'Tierra Del Fuego'
 'Catamarca' 'Santiago Del Estero' 'Jujuy' 'La Rioja' 'Formosa']
['Capital Federal' 'Bs.As. G.B.A. Zona Sur' 'Buenos Aires Costa Atlántica'
 'Entre Ríos' 'Bs.As. G.B.A. Zona Norte' 'Santa Fe' 'Córdoba'
 'Bs.As. G.B.A. Zona Oeste' 'Misiones' 'Buenos Aires Interior' 'Salta'
 'Neuquén' 'Río Negro' 'San Luis' 'Mendoza' 'Corrientes' 'Chubut'
 'Tucumán' 'La Pampa' 'Chaco' 'San Juan' 'Santa Cruz' 'Tierra Del Fuego'
 'Catamarca' 'Santiago Del Estero' 'Jujuy' 'La Rioja' 'Formosa']
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]

In [12]:
print(df['place_name'].unique())
print(df['barrio/ciudad'].unique())
print(df['place_name'].unique() == df['barrio/ciudad'].unique())

['Mataderos' 'La Plata' 'Liniers' ... 'Laguna Paiva' 'Malabrigo'
 'Altos de Hudson I']
['Mataderos' 'La Plata' 'Liniers' 'Mar del Plata' 'Gualeguaychú'
 'Vicente López' 'Belgrano' 'Rosario' 'Córdoba' 'San Miguel' 'San Isidro'
 'Palermo' 'Tigre' 'Villa Giardino' 'General Rodríguez' 'Pilar' 'Morón'
 'Flores' 'Boedo' 'Malagueño' 'Las Cañitas' 'Villa Carlos Paz'
 'Puerto Madero' 'Balvanera' 'Escobar' 'Caballito' 'Nuñez' 'Berazategui'
 'General San Martín' 'Ituzaingó' 'Posadas' 'Tres de Febrero'
 'San Bernardo' 'San Telmo' 'Almagro' '' 'San Fernando' 'Pinamar' 'Colón'
 'Luján' 'San Lorenzo' 'La Matanza' 'Lanús' 'Punilla' 'Villa Gesell'
 'Lomas de Zamora' 'Salta' 'Santa Fe' 'Colegiales' 'Exaltación de la Cruz'
 'Floresta' 'Quilmes' 'Reconquista' 'Confluencia' 'General Roca'
 'Barrio Norte' 'Emilia' 'Barracas' 'Villa Allende' 'Lobos'
 'San Martín de los Andes' 'Recoleta' 'Congreso' 'Villa Crespo'
 'Chacarita' 'Constitución' 'Villa Urquiza' 'Viedma' 'Merlo' 'José C Paz'
 'Saavedra' 'Monserrat' 'Santo Tomé' 'Pompeya' 'Bahía Blanca' 'Neuquén'
 'San Carlos de Bariloche' 'Parque Chas' 'Paternal' 'Agronomía'
 'Villa Pueyrredón' 'Coghlan' 'Parque Centenario' 'Mendoza'
 'Gobernador Benegas' 'Moreno' 'Villa Luro' 'Almirante Brown'
 'Luján de Cuyo' 'Mar del Tuyú' 'Esperanza' 'Villa Devoto' 'Berisso'
 'Malvinas Argentinas' 'Boca' 'Rivadavia' 'Parque Avellaneda'
 'Paso de la Patria' 'San Cristobal' 'Trenque Lauquen' 'Coronel Suárez'
 'Cañuelas' 'Trelew' 'Velez Sarsfield' 'Abasto' 'Rafaela' 'Rada Tilly'
 'Versalles' 'Villa del Parque' 'Paraná' 'Monte Castro' 'Retiro'
 'Necochea' 'Monte Hermoso' 'Parque Patricios' 'Lácar' 'San Nicolás'
 'Villa Santa Rita' 'General Pueyrredón' 'Apóstoles' 'Tanti'
 'Bella Italia' 'Esteban Echeverría' 'San Cayetano' 'Yerba Buena'
 'Nueva Atlantis' 'Santa Rosa' 'San Francisco' 'Tres Arroyos'
 'Resistencia' 'Villa General Belgrano' 'Ostende' 'Claromecó'
 'Granadero Baigorria' 'Funes' 'Victoria' 'Costa Azul' 'Ezeiza'
 'Centro / Microcentro' 'Zárate' 'Santa Clara del Mar'
 'San Andrés de Giles' 'Castellanos' 'General Madariaga' 'La Granja'
 'Avellaneda' 'Chascomús' 'San Miguel de Tucumán' 'Tafí del Valle' 'Oberá'
 'Mar de Ajó' 'Las Talitas' 'Mar del Sur' 'Once' 'San Rafael' 'Cipolletti'
 'Carmen de Areco' 'Tribunales' 'Las Tapias' 'Los Pozos'
 'Comodoro Rivadavia' 'San Antonio de Arredondo' 'Mar Azul'
 'Santa Rosa de Calamuchita' 'Santa Teresita' 'Potrero de Garay'
 'Villa La Angostura' 'Hurlingham' 'Mendiolaza' 'Río Ceballos' 'Vistalba'
 'Punta Indio' 'Parque Chacabuco' 'Achiras' 'Catalinas' 'La Falda'
 'Roque Pérez' 'Villa Rumipal' 'Toledo' 'Godoy Cruz' 'La Lucila del Mar'
 'Marcos Paz' 'Aguas Verdes' 'Cosquín' 'Villa del Dique' 'La Calera'
 'Uspallata' 'Maipú' 'Saldán' 'La Cumbre' 'Las Heras' 'San Martín'
 'Colonia Tirolesa' 'Villa Santa Cruz del Lago' 'Trevelín' 'Miramar'
 'Nono' 'Barranqueras' 'Roldán' 'Malargüe' 'Esquel' 'Costa del Este'
 'Costa Esmeralda' 'General Las Heras' 'General Lagos' 'Coronda' 'Tandil'
 'San Pedro' 'Presidente Perón' 'Nogoyá' 'Playa Unión' 'Tilisarao'
 'San Luis' 'Caleta Olivia' 'Río Grande' 'Bell Ville' 'Valeria del Mar'
 'Concepción del Uruguay' 'Junin de los Andes' 'Balcarce' 'Garupá'
 'Villa General Mitre' 'Mina Clavero' 'Villa del Totoral' 'Dunamar'
 'Humboldt' 'Pueblo Esther' 'La Paz' 'Río Cuarto' 'San Vicente'
 'Villa de Las Rosas' 'Brandsen' 'Campana' 'San Miguel del Monte'
 'Arocena' 'Colonia Benitez' 'Manantiales' 'Gálvez' 'Lincoln'
 'Cinco Saltos' 'Potrero de los Funes' 'Juana Koslay' 'Puerto Madryn'
 'Villa Lugano' 'Chapadmalal' 'María Grande' 'Las Palmas' 'Los Cocos'
 'Capitán Sarmiento' 'Florencio Varela' 'Río Primero' 'Azul' 'Pehuen-có'
 'Desamparados' 'Campo Grande' 'San Clemente del Tuyú' 'Mercedes'
 'Concordia' 'Carolina' 'Río Tercero' 'San José' 'Olavarría' 'Cariló'
 'Villa Ortuzar' 'Santa Ana' 'Santa María' 'Mar Chiquita' 'Mar de Cobo'
 'Santa Lucía' 'Cafayate' 'Ibarlucea' 'Oliva' 'Ascochinga' 'Timbúes'
 'Villa Ciudad Parque Los Reartes' 'Villarino' 'Laprida' 'Ushuaia'
 'General Alvarado' 'La Caldera' 'San Jerónimo Norte' 'Candelaria'
 'San Antonio de Areco' 'Villa Soldati' 'Corrientes' 'San Cristóbal'
 'Iriondo' 'Caseros' 'Unquillo' 'Villa Constitución' 'Punta Alta'
 'Empalme Villa Constitución' 'Villa Mercedes' 'Mar de las Pampas'
 'Plottier' 'Monje' 'Villa Real' 'Monte Vera' 'Coronel Dorrego'
 'Costa Uruguay Sur' 'Recreo' 'General Pico' 'Pergamino' 'Álvarez'
 'Federación' 'Arroyo Leyes' 'Santa Teresa' 'Tornquist' 'Bialet Massé'
 'Rosario de Lerma' 'San José del Rincón' 'Almafuerte' 'Rawson' 'Nelson'
 'Rincón de los Sauces' 'Reta' 'Renca' 'La Punilla' 'Salsipuedes'
 'Agua Blanca' 'La Punta' 'El Volcán' 'María Juana' 'Ensenada'
 'El Trapiche' 'Villa Paranacito' 'San Justo' 'San Carlos Centro'
 'Jesús María' 'Desvío Arijón' 'El Sauce' 'San Javier' 'Campo Quijano'
 'Ricardone' 'Los Reartes' 'San Roque' 'Puerto Libertad'
 'San Fernando del Valle de Catamarca' 'Ataliva' 'Cerrillos'
 'Coronel Du Graty' 'Las Toninas' 'Azara' 'Paso de los Libres'
 'Villa Amancay' 'Las Grutas' 'San Juan' 'General Fernández Oro'
 'Veinticinco de Mayo' 'Puerto Esperanza' 'Wenceslao Escalante'
 'Las Gaviotas' 'Dina Huapi' 'Tafí Viejo' 'Villa Riachuelo' 'Colonia Elía'
 'Aldea Brasilera' 'San Salvador de Jujuy' 'Dorrego' 'Capitán Bermúdez'
 'Pérez' 'Baradero' 'Capilla del Rosario' 'San Nicolás de los Arroyos'
 'Villa Icho Cruz' 'Adolfo Alsina' 'Chivilcoy' 'Patagones' 'Chimbas'
 'Monte Cristo' 'Nueva Ciudad' 'Villa Nueva' 'Los Molinos' 'Trinidad'
 'San Clemente' 'Mayor Drummond' 'Pedro Molina' 'Capilla del Monte'
 'Cabalango' 'Buena Nueva' 'Alta Gracia' 'Rancagua' 'Potrerillos'
 'Villa La Bolsa' 'Alejandro Roca' 'San Francisco del Monte' 'Las Calles'
 'Aluminé' 'El Dorado' 'Oro Verde' 'Río de Los Sauces' 'Chacras de Coria'
 'Sauce Viejo' 'Camet' 'Puerto Iguazú' 'Los Hornillos'
 'Banda del Río Salí' 'Navarro' 'Tancacha' 'Oliveros' 'Corcovado'
 'Sunchales' 'San Antonio' 'Serodino' 'Centenario' 'Tunuyán'
 'Pueblo Andino' 'Mayu Sumaj' 'Sarmiento' 'Laboulaye' 'Fray Luis Beltrán'
 'Agua de Oro' 'Las Rosas' 'San Ramón de la Nueva Orán' 'General Alvear'
 'Cañadón Seco' 'Villa Dolores' 'Bernardo de Irigoyen' 'Rodeo de la Cruz'
 'General Belgrano' 'Arroyo Seco' 'Carlos Casares' 'Colastiné'
 'Lago Epuyén' 'Hernando' 'Providencia' 'General Lavalle' 'Venado Tuerto'
 'Toay' 'Villa Parque Siquiman' 'Suipacha' 'Embalse' 'Cerro Azul'
 'San Carlos' 'Alvear' 'Felicia' 'Lobería' 'Río Segundo' 'Presidente Roca'
 'Arequito' 'Las Varillas' 'Valle Hermoso' 'Villa Unión' 'Los Corralitos'
 'Coronel Moldes' 'San Benito' 'Helvecia' 'Cayastá' 'Villa Cerro Azul'
 'Villa Llao Llao' 'Choele Choel' 'Cruz del Eje' 'Villa Cura Brochero'
 'Cushamen' 'Rufino' 'La Silleta' 'Santa Rosa de Calchines'
 'Coronel Bogado' 'Chajarí' 'Villa María' 'El Chaltén' 'Murphy'
 'J A de la Peña' 'Ramallo' 'El Calafate' 'Pinto' 'Magdalena'
 'La Cumbrecita' 'Pueblo Liebig' 'Bella Vista' 'Escalante' 'General Pinto'
 'Perú' 'Fighiera' 'Lules' 'Los Cipreses' 'Formosa' 'Luque' 'Mburucuyá'
 'San Jorge' 'Los Laureles' 'Pehuajó' 'Santa Luisa' 'Garuhapé'
 'Carpintería' 'Villa Larca' 'Villa Belgrano' 'Gaiman'
 'Presidencia Roque Sáenz Peña' 'Pampa del Infierno' 'Junín' 'Güer Aike'
 'Colonia Caroya' 'Las Parejas' 'Quemú Quemú' 'Nueve de Julio' 'La Rioja'
 'Speluzzi' 'Intendente Alvear' 'Trenel' 'San Javier/Yacanto'
 'Pujato Norte' 'Susana' 'Villa Elisa' 'Aldea Salto' 'Luis Beltrán'
 'General Cabrera' 'Concepción' 'Franck' 'Arroyo Ceibal' 'El Manzano'
 'Bouwer' 'Oncativo' 'Huerta Grande' 'Manfredi' 'Falda del Carmen'
 'San Esteban' 'Balnearia' 'Marull' 'Despeñaderos'
 'Villa Parque Santa Ana' 'Villa Ciudad de América' 'Santa Catalina'
 'Anisacate' 'Villa Los Aromos' 'Casa Grande' 'Río Gallegos'
 'Villa de Soto' 'La Serranita' 'Laguna Larga' 'Obispo Trejo' 'Sinsacate'
 'Calmayo' 'Villa Fontana' 'Mi Granja' 'General Paz' 'Hoyo de Epuyén'
 'Laguna Paiva' 'Malabrigo']
False

C:\Users\Wendy\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
df.drop(['Unnamed: 0','place_split','provincia','pais'], axis = 1, inplace=True)
df.head()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail,barrio/ciudad
0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,...,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...,Mataderos
1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...,La Plata
2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,...,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...,Mataderos
3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,-58.516424,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...,Liniers
4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,-57.549447,...,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...,Mar del Plata

In [14]:
missing = df.isnull().sum()

In [15]:
missing_perc = round((missing / len(df)),2)

In [16]:
missing_df = pd.concat([missing, missing_perc], axis=1)
missing_df.columns = ['missing_count', 'missing_perc']
missing_df

                            missing_count  missing_perc
operation                               0          0.00
property_type                           0          0.00
place_name                             23          0.00
place_with_parent_names                 0          0.00
country_name                            0          0.00
state_name                              0          0.00
geonames_id                         18717          0.15
lat-lon                             51550          0.43
lat                                 51550          0.43
lon                                 51550          0.43
price                               20410          0.17
currency                            20411          0.17
price_aprox_local_currency          20410          0.17
price_aprox_usd                     20410          0.17
surface_total_in_m2                 39328          0.32
surface_covered_in_m2               19907          0.16
price_usd_per_m2                    52603          0.43
price_per_m2                        33562          0.28
floor                              113321          0.93
rooms                               73830          0.61
expenses                           106958          0.88
properati_url                           0          0.00
description                             2          0.00
title                                   0          0.00
image_thumbnail                      3112          0.03
barrio/ciudad                           0          0.00

In [17]:
df[['place_name','state_name','barrio/ciudad']][df['place_name'].isnull()]

      place_name                state_name barrio/ciudad
6489         NaN  Bs.As. G.B.A. Zona Norte         Tigre
10201        NaN  Bs.As. G.B.A. Zona Norte         Tigre
11451        NaN  Bs.As. G.B.A. Zona Norte         Tigre
14839        NaN  Bs.As. G.B.A. Zona Norte         Tigre
18622        NaN  Bs.As. G.B.A. Zona Norte         Tigre
21922        NaN  Bs.As. G.B.A. Zona Norte         Tigre
23664        NaN  Bs.As. G.B.A. Zona Norte         Tigre
24722        NaN  Bs.As. G.B.A. Zona Norte         Tigre
38856        NaN  Bs.As. G.B.A. Zona Norte         Tigre
45970        NaN  Bs.As. G.B.A. Zona Norte         Tigre
46642        NaN  Bs.As. G.B.A. Zona Norte         Tigre
53130        NaN  Bs.As. G.B.A. Zona Norte         Tigre
55306        NaN  Bs.As. G.B.A. Zona Norte         Tigre
57703        NaN  Bs.As. G.B.A. Zona Norte         Tigre
57759        NaN  Bs.As. G.B.A. Zona Norte         Tigre
57764        NaN  Bs.As. G.B.A. Zona Norte         Tigre
57793        NaN  Bs.As. G.B.A. Zona Norte         Tigre
58004        NaN  Bs.As. G.B.A. Zona Norte         Tigre
58037        NaN  Bs.As. G.B.A. Zona Norte         Tigre
59069        NaN  Bs.As. G.B.A. Zona Norte         Tigre
62411        NaN  Bs.As. G.B.A. Zona Norte         Tigre
62413        NaN  Bs.As. G.B.A. Zona Norte         Tigre
63849        NaN  Bs.As. G.B.A. Zona Norte         Tigre

In [18]:
df['place_name'].replace(to_replace=np.NaN, value='Tigre', inplace=True)

In [19]:
df['place_name'].isnull().sum()

0

In [20]:
df['property_type'].value_counts()

apartment    71065
house        40268
PH            5751
store         4136
Name: property_type, dtype: int64

In [21]:
df['state_name'].value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
La Rioja                            4
Santiago Del Estero                 4
Name: state_name, dtype: int64

In [22]:
df[['price','price_aprox_local_currency','price_aprox_usd','surface_total_in_m2','surface_covered_in_m2','price_usd_per_m2',\
    'price_per_m2','rooms','expenses']].describe().round(1)

,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,rooms,expenses
count,100810.0,100810.0,100810.0,81892.0,101313.0,68617.0,87658.0,47390.0,14262.0
mean,468525.9,4229396.8,239700.6,233.8,133.1,2160.1,6912.2,3.1,5009.2
std,2260100.6,6904714.1,391323.9,1782.2,724.4,2759.3,28378.6,1.9,120440.3
min,0.0,0.0,0.0,0.0,0.0,0.6,1.5,1.0,1.0
25%,110000.0,1583309.4,89733.9,50.0,45.0,1218.2,1550.0,2.0,1000.0
50%,185000.0,2558452.5,145000.0,84.0,75.0,1800.0,2213.1,3.0,2000.0
75%,420000.0,4675792.5,265000.0,200.0,150.0,2486.4,3355.5,4.0,4000.0
max,650000000.0,821271104.3,46545445.0,200000.0,187000.0,206333.3,4000000.0,32.0,10001500.0

In [23]:
df['price_aprox_usd'].groupby(df['property_type']).describe().round(1)

,count,mean,std,min,25%,50%,75%,max
property_type,,,,,,,,
PH,5220.0,147689.4,148894.7,5047.5,85000.0,120000.0,165000.0,2800000.0
apartment,59616.0,187406.9,316218.3,4666.6,80000.0,119000.0,190000.0,46545445.0
house,32715.0,329696.8,458208.5,0.0,140000.0,240000.0,384450.0,25000000.0
store,3259.0,440257.1,761393.8,4952.4,95000.0,210000.0,450000.0,13000000.0

In [24]:
df['surface_covered_in_m2'].groupby(df['property_type']).describe().round(1)

                 count   mean     std  min    25%    50%    75%       max
property_type
PH              4913.0   87.7   138.8  1.0   51.0   73.0  104.0    6610.0
apartment      59735.0   74.0   805.1  0.0   40.0   52.0   76.0  187000.0
house          33510.0  217.8   420.3  1.0  120.0  180.0  260.0   38240.0
store           3155.0  420.4  1562.6  1.0   42.0  120.0  300.0   35000.0

In [25]:
df['price_usd_per_m2'].groupby(df['property_type']).describe().round(1)

                 count    mean     std   min     25%     50%     75%       max
property_type
PH              3254.0  1463.0  1043.8  13.6   992.9  1328.6  1818.2   30000.0
apartment      42887.0  2676.5  3192.7   0.6  1682.5  2167.8  2788.4  206333.3
house          20359.0  1181.2  1364.6   2.1   533.3  1057.9  1526.3   80000.0
store           2117.0  2184.0  2308.7   9.9   979.2  1637.9  2713.4   57382.1

In [26]:
df['price_usd_per_m2'].groupby(df['state_name']).describe().round(1).sort_values('mean', ascending=False)

,count,mean,std,min,25%,50%,75%,max
state_name,,,,,,,,
Capital Federal,23434.0,3116.9,3681.0,13.8,1966.1,2468.8,3076.9,206333.3
Salta,63.0,2547.5,4953.6,51.7,632.8,1078.5,1608.6,23750.0
Santa Fe,3960.0,2178.1,4162.0,0.6,1288.3,1594.9,1899.6,57382.1
Río Negro,215.0,1925.5,1556.6,82.0,1000.0,1600.0,2500.0,17857.1
Bs.As. G.B.A. Zona Norte,17405.0,1860.8,1894.3,4.2,1122.8,1666.7,2329.4,48296.2
Neuquén,240.0,1788.1,1406.1,13.6,971.2,1815.7,2428.6,17073.2
Chubut,125.0,1708.6,1498.8,13.5,1041.7,1500.0,1875.0,14540.6
Mendoza,314.0,1689.7,2615.4,16.5,992.1,1435.4,1675.0,31578.9
San Juan,2.0,1648.2,2182.5,105.0,876.6,1648.2,2419.9,3191.5
San Luis,137.0,1600.1,3442.0,11.2,272.4,935.0,1378.6,33333.3
Buenos Aires Costa Atlántica,6350.0,1574.6,916.2,1.0,1000.0,1617.6,2051.3,21897.1
Bs.As. G.B.A. Zona Sur,6173.0,1525.4,1119.5,19.3,996.0,1492.1,1939.4,23140.8
Formosa,29.0,1509.6,8.9,1490.5,1512.7,1513.7,1513.7,1514.3
Corrientes,315.0,1492.3,614.2,83.7,1094.2,1500.0,1846.1,3500.0
Bs.As. G.B.A. Zona Oeste,4623.0,1349.9,1636.4,7.0,733.5,1260.0,1700.0,80000.0
Tucumán,181.0,1338.5,2768.3,30.4,604.1,785.2,1230.0,21666.7
Entre Ríos,82.0,1255.6,2639.5,5.6,396.1,864.1,1530.6,24038.5
Córdoba,3674.0,1219.6,859.6,1.2,841.3,1223.6,1570.3,30000.0
Tierra Del Fuego,28.0,1168.7,871.0,362.2,583.9,917.4,1253.7,3371.4
Buenos Aires Interior,1011.0,960.0,707.4,2.1,320.0,866.7,1500.0,4166.7
Chaco,28.0,939.8,574.0,163.0,520.1,852.6,1105.4,2386.4
La Pampa,10.0,899.4,335.6,392.6,632.7,855.9,1186.4,1402.1
Misiones,193.0,753.1,653.5,9.9,233.7,564.9,1191.5,4206.3
Santa Cruz,11.0,697.4,534.9,316.0,382.9,552.3,735.2,2166.7
Jujuy,4.0,617.1,711.3,210.3,262.8,287.7,642.0,1682.5
Catamarca,6.0,556.0,562.8,145.5,252.4,376.1,514.6,1666.7
Santiago Del Estero,3.0,269.8,224.2,72.0,148.0,224.0,368.7,513.3
La Rioja,1.0,243.0,NaN,243.0,243.0,243.0,243.0,243.0

In [27]:
#sns.pairplot(df, vars= ['price_aprox_usd','surface_covered_in_m2','rooms','expenses'], diag_kind="kde")